.container {
    width: 100%;
    height: 87vh;
    background-color: rgb(14, 14, 14);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.wrapper {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


.paginationWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createEmployeButtonWrapper {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 10;
}

.createEmployeIcon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.createEmployeIcon:hover {
    transform: scale(1.2);
}
   

.usersEmptyBox {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usersEmptyText1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 5px;
}

.usersEmptyText2 {
    color: rgba(204, 204, 204, 0.623);
    font-size: 20px;
}

.roResult {
    width: 30%;
    height: 100px;
    border: 1px solid rgba(245, 245, 245, 0.233);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    top: 40%;
    border-radius: 5px;
    background-color: black;

}

.roResult p {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    color: rgba(255, 255, 255, 0.507);
    font-size: 20px;
    letter-spacing: 2px;

}