.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d6faff88;
    border-radius: 10px;
    padding: 15px;
    min-width: 400px;
    height: 240px;
    background-color: rgba(5, 5, 5, 0.788);
}

.name {
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 18px;
}

.description {
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 18px;
}
.startDate {
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 18px;
}
.endDate {
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 18px;
}

.employeeId {
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 18px;
}

.container span {
    color: rgb(0, 126, 184);
    margin-right: 10px;
}



.editorBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d6faff88;
}

.updateIcon {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(98, 151, 250, 0.623);
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

.removeIcon {
    margin-left: 20px;
    font-size: 25px;
    color: rgba(250, 104, 98, 0.623);
    cursor: pointer;
    margin-top: 10px;
}

.removeIcon:hover {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}



.formContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskBody {
    cursor: pointer;
}

.paragraphWrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-size: 20px;
    color: aliceblue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}